#este archivo se crea para saber las variables de entorno que necesita el proyecto para funcionar.
DB_USER=
DB_PASSWORD=
DB_HOST=

DB_PORT=
DB_NAME=


PORT=

JWT_SECRET=

OUTLOOK_USER=

OUTLOOK_PASSWORD=

VITE_BASE_URL=