@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Volkhov&family=Ysabeau+SC:wght@1;200;600&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
	font-family: 'San Francisco';
	src: url('/fonts/SanFrancisco-Regular.otf') format('opentype');
}
body {
	background-color: #ffffff;
}

.shadow-top {
	position: relative;
}

.shadow-top::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 10px;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), transparent);
	z-index: 10;
}

.gradient-bg {
	background: linear-gradient(-45deg, #ffc107, #37bd74, #23a6d5, #f0f5f9);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
